/media/james/a5085ecf-8d23-4f/home/james/Documents/IT/Hiss/4Archiver/4Scraper
/media/james/a5085ecf-8d23-4f/home/james/Documents/IT/Hiss/4Archiver/4archive
/media/james/a5085ecf-8d23-4f/home/james/Documents/IT/Hiss/4Archiver/.git
